@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1190px;
  background-color: #c6d9df;
}

.header_img {
  position: relative;
  width: 305px;
  height: 305px;
  clip-path: circle(50% at 50% 50%);
  margin-top: 31px;
  margin-bottom: 9px;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

.left_side {
  min-width: 350px;
  margin: 62px 21px 34px 110px;
}

.header_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 56px;
  color: #003d74;
  padding-bottom: 15px;
}

.header_description {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 32.88px;
}

.header_contacts {
  margin-top: 26px;
}

.contacts {
  list-style: none;
  padding-inline-start: 20px;
}

.contacts > li {
  margin-bottom: 12px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #003d74;
}

.contacts > li > a {
  text-decoration: none;
  color: #003d74;
}

.phone {
  list-style-image: url("../img/tel.png");
}

.address {
  list-style-image: url("../img/address.svg");
}

.linkedin {
  list-style-image: url("../img/linkedin.svg");
}

/* End of header */

.wrapper {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  max-width: 1190px;
}

/* start of aside */

aside {
  max-width: 466px;
  margin-right: 120px;
  padding: 0 18px;
  position: relative;
}

aside::after {
  content: "";
  background-color: #252932;
  opacity: 0.2;
  width: 3px;
  height: 1010px;
  position: absolute;
  top: 150px;
  left: 514px;
}

.section_title {
  padding-left: 15px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 35px;
  color: #003d74;
  margin-bottom: 38px;
  position: relative;
}

.section_description {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 165%;
  color: #252932;
}

.section_title::before {
  content: " ";
  width: 80px;
  height: 40px;
  background-color: #c7dae0;
  position: absolute;
  left: -10px;
  z-index: -1;
}

.info {
  margin-top: 86px;
}

.mtop {
  margin-top: 50px;
}

.skill_name {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 35px;
  position: relative;
}

.skill_name::before {
  content: "";
  width: 200px;
  height: 5px;
  background-color: #003d74;
  position: absolute;
  top: 15px;
  left: 235px;
  z-index: -1;
}

.html::after {
  content: "";
  width: 200px;
  height: 5px;
  background-color: #c7dae0;
  position: absolute;
  top: 15px;
  left: 235px;
  z-index: 1;
}

.CSS::after {
  content: "";
  width: 180px;
  height: 5px;
  background-color: #c7dae0;
  position: absolute;
  top: 15px;
  left: 235px;
  z-index: 1;
}

.JS::after {
  content: "";
  width: 100px;
  height: 5px;
  background-color: #c7dae0;
  position: absolute;
  top: 15px;
  left: 235px;
  z-index: 1;
}

.ReactJS::after {
  content: "";
  width: 80px;
  height: 5px;
  background-color: #c7dae0;
  position: absolute;
  top: 15px;
  left: 235px;
  z-index: 1;
}

.Git::after {
  content: "";
  width: 130px;
  height: 5px;
  background-color: #c7dae0;
  position: absolute;
  top: 15px;
  left: 235px;
  z-index: 1;
}

.win::after {
  content: "";
  width: 180px;
  height: 5px;
  background-color: #c7dae0;
  position: absolute;
  top: 15px;
  left: 235px;
  z-index: 1;
}

.lin::after {
  content: "";
  width: 160px;
  height: 5px;
  background-color: #c7dae0;
  position: absolute;
  top: 15px;
  left: 235px;
  z-index: 1;
}

.figma::after {
  content: "";
  width: 190px;
  height: 5px;
  background-color: #c7dae0;
  position: absolute;
  top: 15px;
  left: 235px;
  z-index: 1;
}

.cdt::after {
  content: "";
  width: 160px;
  height: 5px;
  background-color: #c7dae0;
  position: absolute;
  top: 15px;
  left: 235px;
  z-index: 1;
}

.hobbies > ul {
  padding-inline-start: 0;
}

.hobbies > ul > li {
  list-style: none;
}

.hobbies > ul > .skill_name::before {
  content: none;
}

/* end of aside */

/* start main */

.experience {
  margin-top: 86px;
}

.list_description {
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
  position: relative;
}

.date {
  list-style: none;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 40px;
}

.list_description::before {
  content: "";
  background-image: url("../img/vector.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  position: absolute;
  left: -35px;
  top: 12px;
}

.contacts_group {
  margin-bottom: 38px;
}

.contacts_group > ul > li {
  list-style: none;
}

.viber {
  position: relative;
}

.viber::before {
  content: "";
  background-image: url("../img/viber.svg");
  width: 23px;
  height: 23px;
  position: absolute;
  left: -35px;
  top: 14px;
}

.whatsapp {
  position: relative;
}

.whatsapp::before {
  content: "";
  background-image: url("../img/whatsapp.svg");
  width: 30px;
  height: 30px;
  position: absolute;
  left: -38px;
  top: 8px;
}

.telegram {
  position: relative;
}

.telegram::before {
  content: "";
  background-image: url("../img/telegram.svg");
  width: 23px;
  height: 23px;
  position: absolute;
  left: -36px;
  top: 10px;
}

.mail {
  position: relative;
}

.mail::before {
  content: "";
  background-image: url("../img/mail.svg");
  width: 23px;
  height: 23px;
  position: absolute;
  left: -36px;
  top: 10px;
}

/* end of main */

/* start the footer */

.footer {
  max-width: 1190px;
  margin: 0 auto;
  background-color: #c6d9df;
  padding-bottom: 25px;
}

.footer_link {
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 50px;
  color: #003d74;
}

.account {
  margin-left: 100px;
  padding-top: 20px;
  position: relative;
}

.account::before {
  content: "";
  background-image: url("../img/github.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 34px;
  left: -65px;
}

.rs_school {
  margin-left: 100px;
  position: relative;
}

.rs_school::before {
  content: "";
  background-image: url("../img/rs_school.svg");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 15px;
  left: -73px;
}
