
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway:wght@500&display=swap");

* {
  box-sizing: border-box;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1190px;
  background-color: #c6d9df;
}

.header_img {
  position: relative;
  width: 305px;
  height: 305px;
  clip-path: circle(50% at 50% 50%);
  margin-top: 31px;
  margin-bottom: 9px;
  border: 5px solid #ffffff;
  border-radius: 50%;
}

.left_side {
  min-width: 350px;
  margin: 62px 21px 34px 110px;
}

.header_title {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 56px;
  color: #003d74;
  padding-bottom: 15px;
}

.header_description {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 28px;
  line-height: 32.88px;
}

.header_contacts {
  margin-top: 26px;
}

.contacts {
  list-style: none;
  padding-inline-start: 20px;
}

.contacts > li {
  margin-bottom: 12px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #003d74;
}

.contacts > li > a {
  text-decoration: none;
  color: #003d74;
}

.phone {
  list-style-image: url("../img/tel.png");
}

.address {
  list-style-image: url("../img/address.svg")
}

.linkedin {
  list-style-image: url("../img/linkedin.svg");
}
